.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: rgb(240, 240, 240);
	border-bottom: 2px solid rgb(180, 180, 180);
}

.Navbar__link {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 20px;
	margin-right: 20px;
	padding: 1rem;
	&:hover {
		background-color: rgb(255, 0, 0);
		cursor: pointer;
	}
}

.Navbar__link.--active {
	background-color: rgb(0, 255, 0);
	color: white;
}
